<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Work+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Galileo Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div
      class="relative flex size-full min-h-screen flex-col bg-white justify-between group/design-root overflow-x-hidden"
      style='font-family: "Work Sans", "Noto Sans", sans-serif;'
    >
      <div>
        <div class="flex items-center bg-white p-4 pb-2 justify-between">
          <h2 class="text-[#111318] text-lg font-bold leading-tight tracking-[-0.015em] flex-1 text-center pl-12">Expenses</h2>
          <div class="flex w-12 items-center justify-end">
            <button
              class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-12 bg-transparent text-[#111318] gap-2 text-base font-bold leading-normal tracking-[0.015em] min-w-0 p-0"
            >
              <div class="text-[#111318]" data-icon="MagnifyingGlass" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path>
                </svg>
              </div>
            </button>
          </div>
        </div>
        <div class="pb-3">
          <div class="flex border-b border-[#dcdfe5] px-4 gap-8">
            <a class="flex flex-col items-center justify-center border-b-[3px] border-b-[#111318] text-[#111318] pb-[13px] pt-4" href="#">
              <p class="text-[#111318] text-sm font-bold leading-normal tracking-[0.015em]">All</p>
            </a>
            <a class="flex flex-col items-center justify-center border-b-[3px] border-b-transparent text-[#636e88] pb-[13px] pt-4" href="#">
              <p class="text-[#636e88] text-sm font-bold leading-normal tracking-[0.015em]">Last 7 days</p>
            </a>
            <a class="flex flex-col items-center justify-center border-b-[3px] border-b-transparent text-[#636e88] pb-[13px] pt-4" href="#">
              <p class="text-[#636e88] text-sm font-bold leading-normal tracking-[0.015em]">This month</p>
            </a>
          </div>
        </div>
        <div class="flex items-center gap-4 bg-white px-4 min-h-[72px] py-2 justify-between">
          <div class="flex items-center gap-4">
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
              style='background-image: url("https://cdn.usegalileo.ai/sdxl10/7a00b399-69e8-4877-8652-841ce04978b5.png");'
            ></div>
            <div class="flex flex-col justify-center">
              <p class="text-[#111318] text-base font-medium leading-normal line-clamp-1">Amazon</p>
              <p class="text-[#636e88] text-sm font-normal leading-normal line-clamp-2">Nov 10, 2028</p>
            </div>
          </div>
          <div class="shrink-0"><p class="text-[#111318] text-base font-normal leading-normal">-$109.99</p></div>
        </div>
        <div class="flex items-center gap-4 bg-white px-4 min-h-[72px] py-2 justify-between">
          <div class="flex items-center gap-4">
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
              style='background-image: url("https://cdn.usegalileo.ai/sdxl10/9fa316e6-d77a-4971-a847-3b01f97fcb3d.png");'
            ></div>
            <div class="flex flex-col justify-center">
              <p class="text-[#111318] text-base font-medium leading-normal line-clamp-1">Trader Joe's</p>
              <p class="text-[#636e88] text-sm font-normal leading-normal line-clamp-2">Nov 7, 2028</p>
            </div>
          </div>
          <div class="shrink-0"><p class="text-[#111318] text-base font-normal leading-normal">-$45.00</p></div>
        </div>
        <div class="flex items-center gap-4 bg-white px-4 min-h-[72px] py-2 justify-between">
          <div class="flex items-center gap-4">
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
              style='background-image: url("https://cdn.usegalileo.ai/sdxl10/fb2f8e2b-8768-4c22-8f39-76b11f9c0f28.png");'
            ></div>
            <div class="flex flex-col justify-center">
              <p class="text-[#111318] text-base font-medium leading-normal line-clamp-1">Starbucks</p>
              <p class="text-[#636e88] text-sm font-normal leading-normal line-clamp-2">Nov 5, 2028</p>
            </div>
          </div>
          <div class="shrink-0"><p class="text-[#111318] text-base font-normal leading-normal">-$4.50</p></div>
        </div>
        <div class="flex items-center gap-4 bg-white px-4 min-h-[72px] py-2 justify-between">
          <div class="flex items-center gap-4">
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
              style='background-image: url("https://cdn.usegalileo.ai/sdxl10/0b506930-993a-46e5-b55e-c941ea8d1865.png");'
            ></div>
            <div class="flex flex-col justify-center">
              <p class="text-[#111318] text-base font-medium leading-normal line-clamp-1">Shell</p>
              <p class="text-[#636e88] text-sm font-normal leading-normal line-clamp-2">Nov 3, 2028</p>
            </div>
          </div>
          <div class="shrink-0"><p class="text-[#111318] text-base font-normal leading-normal">-$40.00</p></div>
        </div>
      </div>
      <div>
        <div class="flex gap-2 border-t border-[#f0f2f4] bg-white px-4 pb-3 pt-2">
          <a class="just flex flex-1 flex-col items-center justify-end gap-1 rounded-full text-[#111318]" href="#">
            <div class="text-[#111318] flex h-8 items-center justify-center" data-icon="House" data-size="24px" data-weight="fill">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                <path
                  d="M224,115.55V208a16,16,0,0,1-16,16H168a16,16,0,0,1-16-16V168a8,8,0,0,0-8-8H112a8,8,0,0,0-8,8v40a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V115.55a16,16,0,0,1,5.17-11.78l80-75.48.11-.11a16,16,0,0,1,21.53,0,1.14,1.14,0,0,0,.11.11l80,75.48A16,16,0,0,1,224,115.55Z"
                ></path>
              </svg>
            </div>
            <p class="text-[#111318] text-xs font-medium leading-normal tracking-[0.015em]">Home</p>
          </a>
          <a class="just flex flex-1 flex-col items-center justify-end gap-1 text-[#636e88]" href="#">
            <div class="text-[#636e88] flex h-8 items-center justify-center" data-icon="ChartBar" data-size="24px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                <path
                  d="M224,200h-8V40a8,8,0,0,0-8-8H152a8,8,0,0,0-8,8V80H96a8,8,0,0,0-8,8v40H48a8,8,0,0,0-8,8v64H32a8,8,0,0,0,0,16H224a8,8,0,0,0,0-16ZM160,48h40V200H160ZM104,96h40V200H104ZM56,144H88v56H56Z"
                ></path>
              </svg>
            </div>
            <p class="text-[#636e88] text-xs font-medium leading-normal tracking-[0.015em]">Stats</p>
          </a>
          <a class="just flex flex-1 flex-col items-center justify-end gap-1 text-[#636e88]" href="#">
            <div class="text-[#636e88] flex h-8 items-center justify-center" data-icon="DotsThreeCircle" data-size="24px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                <path
                  d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm12-88a12,12,0,1,1-12-12A12,12,0,0,1,140,128Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,128Zm-88,0a12,12,0,1,1-12-12A12,12,0,0,1,96,128Z"
                ></path>
              </svg>
            </div>
            <p class="text-[#636e88] text-xs font-medium leading-normal tracking-[0.015em]">More</p>
          </a>
        </div>
        <div class="h-5 bg-white"></div>
      </div>
    </div>
  </body>
</html>
